*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(#333,#ff3344) no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

p{
    font-size: 2rem;
    font-family: sans-serif;
}

